<%= simple_form_for(@floorplan) do |f| %>
  <%= f.error_notification %>

    <div class="col-xs-3">
      <%= f.input :hirise, required: true, autofocus: true %>
    </div>

    <div class="col-xs-3">
      <%= f.input :layout_id, label: 'ID' %>
    </div>

    <div class="col-xs-3">
      <%= f.input :layout_version, collection: 0..4, label: 'Version' %>
    </div>

    <% @window_symbols.each do |window| %>
      <div class="col-xs-3">
        <%= f.input window, collection: 1..5 %>
      </div>
    <% end %>

    <%= f.button :submit, class: 'btn btn-block btn-success' %>
<% end %>
