<% title 'Floorplans' %>
<% heading 'Floorplans' %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Layout</th>
      <th>Windows</th>
      <th>Count</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @floorplans.each do |floorplan| %>
      <tr>
        <td>
          <%= floorplan.hirise.upcase %> <%= floorplan.name %>
        </td>
        <td>
          <%= image_tag floorplan.layout_path, class: 'img-thumbnail'%>
        </td>
        <td>
          <%= floorplan.window_array %>
        </td>
        <td>
          <%= floorplan.flats.count %>
        </td>
        <td>
          <%= link_to floorplan_path(floorplan), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Floorplan', new_floorplan_path, class: 'btn btn-block btn-primary' %>
