<% title "#{@floorplan.name}" %>
<% heading "Floorplan #{@floorplan.name}" %>

<p>
  <strong>ID:</strong>
  <%= @floorplan.layout_id %>
</p>

<p>
  <strong>Flats:</strong>
  <%= @floorplan.assigned_flats %>
</p>

<p>
  <strong>Windows:</strong>
  <%= @floorplan.window_array %>
</p>

<p>
  <%= image_tag @floorplan.layout_path, class: 'img-thumbnail' %>
</p>

<%= link_to 'Back to Floorplans', floorplans_path, class:'btn btn-block btn-default' %>

<%= link_to edit_floorplan_path(@floorplan), class: 'btn btn-block btn-primary' do %>
  <span class='glyphicon glyphicon-pencil'></span>
<% end %>
