<% title "#{@floorplan.name}" %>
<% heading "Floorplan #{@floorplan.name}" %>

<p>
  <strong>ID:</strong>
  <%= @floorplan.layout_id %>
</p>

<p>
  <strong>Flats:</strong>
  <% @flats.each do |flat| %>
    <%= link_to flat_path(flat), class: 'btn btn-default' do %>
      <%= flat.name %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Windows:</strong>
  <%= @floorplan.window_array %>
</p>

<p>
  <%= link_to @floorplan.layout_path do %>
    <%= image_tag @floorplan.layout_path, class: 'img-thumbnail' %>
  <% end %>
</p>

<%= link_to 'Back to Floorplans', floorplans_path, class:'btn btn-block btn-default' %>

<%= link_to edit_floorplan_path(@floorplan), class: 'btn btn-block btn-primary' do %>
  <span class='glyphicon glyphicon-pencil'></span>
<% end %>
