<h1>Flats</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th class="text-center">Flat</th>
      <th class="text-center">Price</th>
      <th class="text-center">Sqft</th>
      <th class="text-center">Updated</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td class="text-center">
          <%= flat.name %>
        </td>
        <td class="text-center">
          <%= number_to_currency(flat.listings.last.price, precision: 0) %>
        </td>
        <td class="text-center">
          <%= flat.sqft %>
        </td>
        <td class="text-center">
          <%= time_ago_in_words(flat.listings.last.updated_at) %> ago
        </td>
        <td class="text-center">
          <%= link_to flat_path(flat), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Flat', new_flat_path, class: 'btn btn-block btn-primary' %>
