<% heading 'NEMA' %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th class="text-center">Flat</th>
      <th class="text-center">Price</th>
      <th class="text-center">Sqft</th>
      <th class="text-center">Windows</th>
      <th class="text-center">Updated</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr class="<% if !flat.is_active %>inactive<% end %>">
        <td class="text-center">
          <%= flat.name %>
        </td>
        <td class="text-center">
          <%= link_to flat_listings_path(flat) do %>
           <%= number_to_currency(flat.listings.last.price, precision: 0) %>
          <% end %>
        </td>
        <td class="text-center">
          <%= flat.sqft %>
        </td>
        <td class="text-center">
          <%= flat.floorplan.studio_windows %>
        </td>
        <td class="text-center">
          <%= time_ago_in_words(flat.listings.last.created_at) %> ago
        </td>
        <td class="text-center">
          <%= link_to flat.floorplan.layout_path, class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-camera"></span>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to flat_path(flat), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Pull Listings', pull_studios_path, class: 'btn btn-block btn-primary' %>
