<% title 'NEMA' %>
<% heading 'NEMA' %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Flat</th>
      <th>Price</th>
      <th>Sqft</th>
      <th>Score</th>
      <th class="hidden-xs">Time</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr class="<% if !flat.is_active %>inactive<% end %>">
        <td>
          <%= flat.name %>
        </td>
        <td>
          <%= link_to flat_listings_path(flat) do %>
           <%= number_to_currency(flat.listings.last.price, precision: 0) %>
          <% end %>
        </td>
        <td>
          <%= flat.sqft %>
        </td>
        <td>
          <%= (flat.value_score * 10).round %><br>
          <%= flat.city_view %>
        </td>
        <td class="text-muted hidden-xs">
          <%= time_ago_in_words(flat.listings.last.created_at) %> ago
        </td>
        <td>
          <% unless flat.floorplan.nil? %>
            <%= link_to flat.floorplan, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-camera"></span>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to flat_path(flat), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Pull Studios', bedrooms_pull_path(id: 0), class: 'btn btn-block btn-primary' %>
<%= link_to 'Pull One Bedrooms', bedrooms_pull_path(id: 1), class: 'btn btn-block btn-primary' %>
