<% heading @flat.name %>

<p>
  <strong>Floorplan:</strong>
  <%= @flat.floorplan.name unless @flat.floorplan.nil? %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @flat.sqft %>
</p>

<p>
  <strong>Windows:</strong>
  <%= @flat.floorplan.studio_windows unless @flat.floorplan.nil? %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@flat.listings.last.price, precision: 0) %>
</p>

<% unless @flat.floorplan.nil? %>
  <%= link_to @flat.floorplan.layout_path do %>
   <%= image_tag @flat.floorplan.layout_path %>
  <% end %>
<% end %>

<%= link_to 'History', flat_listings_path(@flat), class:'btn btn-block btn-default' %>

<%= link_to 'Back to Flats', flats_path, class:'btn btn-block btn-default' %>

<%= link_to edit_flat_path(@flat), class: 'btn btn-block btn-primary' do %>
  <span class='glyphicon glyphicon-pencil'></span>
<% end %>
