<% title @flat.name %>
<% heading "Flat #{@flat.name}" %>

<p>
  <strong>Floorplan:</strong>
  <%= @flat.floorplan.name unless @flat.floorplan.nil? %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @flat.sqft %>
</p>

<p>
  <strong>Value Score:</strong>
  <%= (@flat.value_score * 10).round %>
</p>

<p>
  <strong>City View:</strong>
  <%= @flat.city_view %>
</p>

<p>
<strong>Windows:</strong>
  <%= @flat.floorplan.window_array unless @flat.floorplan.nil? %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@flat.listings.last.price, precision: 0) %>
</p>

<p class="text-muted pull-right">
  Updated <%= time_ago_in_words(@flat.listings.last.created_at) %> ago
</p>

<% unless @flat.floorplan.nil? %>
  <p>
    <%= link_to @flat.floorplan do %>
      <%= image_tag @flat.floorplan.layout_path, class: 'img-thumbnail' %>
    <% end %>
  </p>
<% end %>

<%= link_to 'History', flat_listings_path(@flat), class:'btn btn-block btn-default' %>

<%= link_to 'Back to Flats', flats_path, class:'btn btn-block btn-default' %>

<%= link_to edit_flat_path(@flat), class: 'btn btn-block btn-primary' do %>
  <span class='glyphicon glyphicon-pencil'></span>
<% end %>
