<% heading @flat.name %>

<p>
  <strong>Bed:</strong>
  <%= @flat.bed %>
</p>

<p>
  <strong>Bath:</strong>
  <%= @flat.bath %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @flat.sqft %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@flat.listings.last.price, precision: 0) %>
</p>

<%= link_to @flat.floorplan.layout_path do %>
 <%= image_tag @flat.floorplan.layout_path %>
<% end %>

<%= link_to 'Back to Flats', flats_path, class:'btn btn-block btn-default' %>

<%= link_to edit_flat_path(@flat), class: 'btn btn-block btn-primary' do %>
  <span class='glyphicon glyphicon-pencil'></span>
<% end %>
