<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-6" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to root_url do %>
        <%= image_tag 'nav_icon.png', class:'navbar-brand' %>
       <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><%= filter_by 'Studios', 0, true %></li>
        <li><%= filter_by 'One Bedrooms', 1, true %></li>
        <li><%= filter_by 'Inactive Studios', 0, false %></li>
        <li><%= filter_by 'Inactive One Bedrooms', 1, false %></li>
        <li><%= filter_by 'All Active', [0,1,2,3], true %></li>
        <li><%= filter_by 'All Flats', [0,1], [false, true] %></li>
        <li><%= link_to 'Floorplans', floorplans_path %></li>
        <li><%= link_to 'NEMA', "https://www.rentnema.com/pdf/FloorPlatesALL.pdf" %></li>
      </ul>
    </div>
  </div>
</nav>
