<% title 'Value Scores' %>
<% heading 'Value Scores' %>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Flat</th>
      <th>Price</th>
      <th>Sqft</th>
      <th class="hidden-xs">Score</th>
      <th>💲</th>
      <th>🖼</th>
      <th>📐</th>
      <th>🌇</th>
      <th>🏢</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr class="<% if !flat.is_active %>inactive<% end %>">
        <td>
          <%= flat.name %>
        </td>
        <td>
          <%= link_to flat_listings_path(flat) do %>
           <%= number_to_currency(flat.listings.last.price, precision: 0) %>
          <% end %>
        </td>
        <td>
          <%= flat.sqft %>
        </td>
        <td class="hidden-xs">
          <%= (flat.value_score * 100).round %>
        </td>
        <td>
          <%= (flat.price_score * 350).round %>
        </td>
        <td>
          <%= (flat.window_score * 100).round %>
        </td>
        <td>
          <%= (flat.view_score * 50).round %>
        </td>
        <td>
          <%= (flat.floor_score * 50).round %>
        </td>
        <td>
          <%= (flat.sqft_score * 100).round %>
        </td>
        <td>
          <%= link_to flat_path(flat), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
